/* 
    Document   : hb_styles
    Created on : Jun 21, 2013, 6:03:22 PM
    Author     : Mihon
    Description: Our custom styles
*/
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);

div#blockRigthOben{
    font-size: 14px;
    border-left-style: dashed;
    border-left-width: thin;
    padding-left: 20px;
    margin-left: 30px;
    border : 0;
}

ul#blockRigthBlack{
    font-size: 18px;
    padding-top: 60px;
    padding-left: 10px;
}
ul#blockRigthBlack h3{
    padding-bottom: 15px;
}

div#blockRigthOben h4{
    color: orange;
}

blockquote.block{
    font-family: "cambria", sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.5em;
    margin-left: 40px;
}

i.icon_right{
    padding-left: 8px;
}

p.no_li{
    line-height: 1.5em;
    font-size: 0.9em;
}

.super {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    line-height: 1;
    margin-bottom: 0;
    text-transform: uppercase;
}

.logoButtonLink {
    padding: 25.5px 25px 21.5px;
    background: url(../images/domikgrey50x47.png);
}
.logoButtonLink:hover {
    background: url(../images/domiklight50x47.png);
}

.logoButtonLink a {
    font-style: normal;
}

.navbar-inverse .logoButtonLink a {
    color: white;
}
.logoButtonLink2 {
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    padding: 25.5px 20px 29.5px;
    margin-top: 0;
    margin-bottom: 0;
    background: url(../images/domikgrey50x47.png);
}
.logoButtonLink2 a {
    font-style: normal;
}

.navbar-inverse .logoButtonLink2 a {
    color: white;
}

h4.infokasten_green{
    background:#E3FF4A; 
    display: inline; 
    line-height: 3;
    padding: 1px;
}

a.infokasten{
    color: #FFA500;
}

h4.infokasten:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 1s linear;
}

.super-hero-unit {
    position: relative;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    display: block;
    margin: auto 0;
    text-align: center;
}

blockquote_drops { 
    background : url(../images/quotes.png) no-repeat top left;
    margin : 15px 0 0 5px;
    padding : 5px 20px 0 25px;
    border-right : 1px dotted #99cc66; 
    border-left : 1px dotted #99cc66; 
    color: #FFA500;
    text-indent : 30px;
}

.ex-pullquote_left, .pullquote_left {
    float : left;
    width : 320px;
    border : 0;
    color: #FFA500;
    font-family : georgia, palatino, 'times new roman', serif;
    font-size : 110%;
    font-weight : bold;
    font-style : italic;
    margin : 0;
}

.ex-pullquote_right, .pullquote_right {
    float : right;
    width : 320px;
    border : 0;
    color:#FFA500;
    font-family : georgia, palatino, 'times new roman', serif;
    font-size : 110%;
    font-weight : bold;
    font-style : italic;
    margin : 0;
}

.ex-pullquote, .pullquote {
    float : none;
    width : 320px;
    border : 0;
    color:#FFA500;
    font-family : georgia, palatino, 'times new roman', serif;
    font-size : 110%;
    font-weight : bold;
    font-style : italic;
    margin : -5px 0 15px 10px;
    padding : 0;
}

ul.bycategories {
    margin: 0;
    padding: 0;
}
ul.bycategories li {
    list-style: none; 
    list-style-type: none;
    margin: 0; 
    padding: 0;
}
ul.bycategories li a {
    list-style: none; 
    list-style-type: none;
    margin: 0 20px 15px 0; 
    float: left; 
    background: #eee; 
    color: #464646; 
    padding: 5px 10px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
}
ul.bycategories li a:hover{
    text-decoration: none; 
    background: #ff6200; 
    color: #fff;
}
.clear{clear: both;}

/*Tagging cloud*/

.tagcloudbody {
width:800px;
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
border:solid 1px #333333;
padding:5px;
text-align:justify;
}

.tagcloudbody a {
text-decoration:none;
color:#333366;
}

.tagcloudThema {
font-weight:bold;
font-size:16px;
margin-bottom: 10px;
}

.tag1 {
font-size:26px;
}
.tag2 {
font-size:16px;
}
.tag3 {
font-size:13px;
}
.tag4 {
font-size:20px;
}
.tag5 {
font-size:9px;
}

.lead_custom_mb {
    margin: 0px;
    padding-left: 90px;
}

.well_custom_3col_mb {
    max-height: 480px;
    min-height: 480px;
}