/* 
    Document   : hb_styles
    Created on : Jun 21, 2013, 6:03:22 PM
    Author     : Mihon
    Description: Our custom styles
*/


div#blockRigthOben{
    font-size: 14px;
    border-left-style: dashed;
    border-left-width: thin;
    padding-left: 16px;
    margin-left: 30px;
}

ul#blockRigthBlack{
    font-size: 18px;
    padding-top: 60px;
    padding-left: 10px;
}
ul#blockRigthBlack h3{
    padding-bottom: 15px;
}

div#blockRigthOben h4{
    color: orange;
}

blockquote.block{
font-family: "cambria", sans-serif;
font-weight: 400;
font-size: 19px;
line-height: 1.5em;
margin-left: 40px;
}

i.icon_right{
    padding-left: 8px;
}

p.no_li{
    line-height: 1.5em;
    font-size: 0.9em;
}

.super {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  line-height: 1;
  margin-bottom: 0;
  text-transform: uppercase;
}

section.non-padded{
    padding: 0px;
}

