/* 
    Document   : myStyle
    Created on : 19.05.2013, 09:16:35
    Author     : Mihon
    Description:
        Purpose of the stylesheet follows.
*/

div#blockRigthOben{
    font-size: 14px;
    border-left-style: dashed;
    border-left-width: thin;
    padding-left: 16px;
    margin-left: 30px;
}

div#blockRigthOben h4{
    color: orange;
}

